<header>
  <div class="green-area"></div>
  <div class="area">
    <img src="assets/img/gabriel.jpg" alt="Foto do meu perfil" loading="lazy">
    <div class="details">
      <h1>Gabriel Cardoso Girarde</h1>
      <h2>Full-Stack Angular | React | C# .NET | NodeJS</h2>
      <address>Castelo, Espírito Santo, Brasil</address>
      <p>
        Meu nome é Gabriel, sou fascinado em tecnologia e gosto de aprender as novidades relacionadas a esse meio. <br/>
        Atualmente, estou no sétimo período do curso de Sistemas de Informação oferecido pelo IFES - Campus de Cachoeiro de Itapemirim. <br/>
        Ao longo da gradução eu pude experiementar diversas tecnologias e <br/> participei de projetos que me fizeram aperfeiçoar algumas habilidades relacionadas a desenvolvimento de sistemas web.
      </p>
    </div>
    <div class="buttons">
      <a class="button-cv" href="https://drive.google.com/file/d/1VyKAg1mEXG6R6t46jYu42Trb_wMHSU16/view?usp=sharing" target="_blank">Download CV</a>
      <a class="button-linkedin" href="https://www.linkedin.com/in/gabriel-cardoso-girarde" target="_blank">
        Linkedin
      </a>
    </div>
    <section class="contact">
      <figure class="whatsapp">
        <a href="https://api.whatsapp.com/send?phone=28999505410" target="_blank">
          <strong>Envie uma mensagem para: </strong>
          <p>(28) - 99950-5410</p>
        </a>
      </figure>
      <figure class="email">
        <a href="mailto:gabrielcardosogirarde@gmail.com" target="_blank">
          <strong>E-mail</strong>
          <p>gabrielcardosogirarde&#64;gmail.com</p>
        </a>
      </figure>
      <figure class="github">
        <a href="https://github.com/GNobroga" target="_blank">
          <strong>Github: </strong>
          <p>https://github.com/GNobroga</p>
        </a>
      </figure>
      <figure class="youtube">
        <a href="https://www.youtube.com/@gabrielcardosogirarde7515" target="_blank">
          <strong>Youtube</strong>
          <p>gabrielcardosogirarde7515</p>
        </a>
      </figure>
    </section>
  </div>
</header>
