<header>
  <div class="green-area"></div>
  <div class="area">
    <img src="assets/img/dener.jpg" alt="Foto do meu perfil">
    <div class="details">
      <h1>Gabriel Cardoso Girarde</h1>
      <h2>Full-Stack Javascript | Angular | NodeJs | NestJs</h2>
      <address>Guarulhos, São Paulo, Brasil</address>
      <p>
        Estou na área de desenvolvimento de software mais de 10 anos. Devido isso resolvi abraçar <br/> a stack JS pois atua no Frontend / Backend.
      </p>
    </div>
    <div class="buttons">
      <button class="button-cv">Download CV</button>
      <button class="button-linkedin">Linkedin</button>
    </div>
    <section class="contact">
      <figure class="whatsapp">
        <a href="">
          <strong>Envie uma mensagem para: </strong>
          <p>WhatsApp: (28) - 99950-5410</p>
        </a>
      </figure>
      <figure class="email">
        <a href="">
          <strong>Envie uma mensagem para: </strong>
          <p>WhatsApp: (28) - 99950-5410</p>
        </a>
      </figure>
    </section>
  </div>
</header>
