<header>
  <div class="green-area"></div>
  <div class="area">
    <img src="assets/img/gabriel.jpg" alt="Foto do meu perfil" loading="lazy">
    <div class="details">
      <h1>Gabriel Cardoso Girarde</h1>
      <h2>Full-Stack Angular | C# .NET</h2>
      <address>Castelo, Espírito Santo, Brasil</address>
      <p>
        Meu nome é Gabriel, sou fascinado em tecnologia e gosto de aprender as novidades relacionadas a esse meio. <br/>
        Atualmente, estou no sétimo período do curso de Sistemas de Informação oferecido pelo IFES - Campus de Cachoeiro de Itapemirim. <br/>
        Ao longo da gradução eu pude experiementar diversas tecnologias e <br/> participei de projetos que me fizeram aperfeiçoar algumas habilidades relacionadas a desenvolvimento de sistemas web.
      </p>
    </div>
    <div class="buttons">
      <button class="button-cv">Download CV</button>
      <button class="button-linkedin">Linkedin</button>
    </div>
    <section class="contact">
      <figure class="whatsapp">
        <a href="">
          <strong>Envie uma mensagem para: </strong>
          <p>WhatsApp: (28) - 99950-5410</p>
        </a>
      </figure>
      <figure class="email">
        <a href="">
          <strong>Envie uma mensagem para: </strong>
          <p>WhatsApp: (28) - 99950-5410</p>
        </a>
      </figure>
      <figure class="email">
        <a href="">
          <strong>Envie uma mensagem para: </strong>
          <p>WhatsApp: (28) - 99950-5410</p>
        </a>
      </figure>
    </section>
  </div>
</header>
