:host {

  section {
    background-color: var(--black-color-dark);
    color: var(--white-color);
    padding: 1rem 0;

    h1 {
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    .projects {
      max-width: 800px;
      margin: auto;
      display: flex;
      padding: 0.5rem;
      gap: 1rem;
      flex-wrap: wrap;

      .project {
        flex: 1;
        padding: 3rem;
        border: 2px solid var(--primary-color-light-green);
        border-radius: 0.5rem;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease-out;

        img {
          width: 100%;
          min-width: 40px;
          max-width: 100px;
          object-fit: contain;
          object-position: center;
        }

        &:hover {
          background-color: var(--primary-color-light-green);
        }
      }

     & > p {
      text-align: center;
      margin: auto;
      color: var(--grey-color);
     }
    }
  }
}
